@mixin transition-all() {
  transition: all 0.5s;
}

@mixin background-cover() {
  background-size: cover;
}

@mixin serif() {
  font-family: 'PT Sans', sans-serif;
}

@mixin sans-serif() {
  font-family: 'Roboto Mono', monospace;
}
