@charset "UTF-8";

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/header";
@import "layout/footer";

@import "components/icons";
@import "components/buttons";

@import "pages/blog";

// Post Preview Pages

.post-preview {
	> a {
		color: $black;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $gold;
		}

		> .post-title {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 10px;
		}
		> .post-subtitle {
			margin: 0;
			font-weight: 300;
			margin-bottom: 10px;
		}
	}
	> .post-meta {
		color: $gray;
		font-size: 1.4rem;
		margin-top: 0;

		> a {
			text-decoration: none;
			color: $black;

			&:hover,
			&:focus {
				color: $blue;
				text-decoration: underline;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		> a {
			> .post-title {
				font-size: 36px;
			}
		}
	}
}

// Sections
.section-heading {
	font-size: 36px;
	margin-top: 60px;
	font-weight: 700;
}

.caption {
	text-align: center;
	font-size: 14px;
	padding: 10px;
	font-style: italic;
	margin: 0;
	display: block;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

// Contact Form Styles

.floating-label-form-group {
	font-size: 14px;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid $white;

	input,
	textarea {
		z-index: 1;
		position: relative;
		padding-right: 0;
		padding-left: 0;
		border: none;
		border-radius: 0;
		font-size: 1.5em;
		background: none;
		box-shadow: none !important;
		resize: none;
	}
	label {
		display: block;
		z-index: 0;
		position: relative;
		top: 2em;
		margin: 0;
		font-size: 0.85em;
		line-height: 1.764705882em;
		vertical-align: middle;
		vertical-align: baseline;
		opacity: 0;
		-webkit-transition: top 0.3s ease,opacity 0.3s ease;
		-moz-transition: top 0.3s ease,opacity 0.3s ease;
		-ms-transition: top 0.3s ease,opacity 0.3s ease;
		transition: top 0.3s ease,opacity 0.3s ease;
	}
	&::not(:first-child) {
		padding-left: 14px;
		border-left: 1px solid $white;
	}
}

.floating-label-form-group-with-value {

	label {
		top: 0;
		opacity: 1;
	}
}

.floating-label-form-group-with-focus {

	label {
		color: $blue;
	}
}

form .row:first-child .floating-label-form-group {
	border-top: 1px solid $white;
}

// Pager Styling
.pager {
	margin: 20px 0 0;

	li {
		> a,
		> span {
			@include sans-serif();;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			padding: 10px 5px;
			background-color: white;
			border-radius: 0;
			@media only screen and (min-width: 768px) {
				font-size: 14px;
				padding: 15px 25px;
			}
		}

		> a:hover,
		> a:focus {
			color: $white;
			background-color: $blue;
			border: 1px solid $blue;
		}
	}

	.disabled {
		> a,
		> a:hover,
		> a:focus,
		> span {
			color: $gray;
			background-color: $black;
			cursor: not-allowed;
		}
	}
}

// -- Highlight Color Customization

::-moz-selection {
	color: $white;
	text-shadow: none;
	background: $blue;
}

::selection {
	color: $white;
	text-shadow: none;
	background: $blue;
}

img::selection {
	color: $white;
	background: transparent;
}

img::-moz-selection {
	color: $white;
	background: transparent;
}

body {
	webkit-tap-highlight-color: $blue;
}
