footer {
	padding: 40px 0 20px;

	.list-inline {
		margin: 0;
		padding: 0;
	}
	.copyright {
    margin: 0;
		font-size: 14px;
		text-align: center;
	}
}

.footer__text {
  display: block;
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
  text-align: center;

  @media (min-width: $sm-device) {
    font-size: 1.3rem;
  }
}

.footer__heart {
  color: $orange;
}
