.navbar-custom {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	@include sans-serif();

	.navbar-brand {
		font-weight: 700;
	}

	.nav {
		li {
			a {
				font-size: 1.4rem;
				letter-spacing: 1px;
			}
		}
	}

	@media (min-width: $sm-device) {
		background: transparent;
		border-bottom: 1px solid transparent;

		.navbar-brand {
			color: $white;

			padding: 20px;
			&:hover,
			&:focus {
				color: $white;
			}
		}

		.nav {
			li {
				a {
					color: $white;
					padding: 20px;

					&:hover,
					&:focus {
						color: $blue;
					}
				}
			}
		}
	}
	@media (min-width: $md-device) {
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		&.is-fixed {
			position: fixed;
			top: -61px;
			background-color: fade($white, 90%);
			border-bottom: 1px solid darken($white, 5%);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;

			.navbar-brand {
				color: $black;

				&:hover,
				&:focus {
					color: $gold;
				}
			}

			.nav {
				li {
					a {
						color: $black;

						&:hover,
						&:focus {
							color: $gold;
						}
					}
				}
			}
		}

		&.is-visible {
			background-color: $white;
			-webkit-transform: translate3d(0, 100%, 0);
			-ms-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}
	}
}
