.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 450px;
  padding: 0 1rem;
  background-image: url("../images/bgHero.jpg");
  background-position: center center;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroInfo {
  position: relative;
  margin-top: 3rem;
  color: white;
  text-align: center;
  z-index: 1;
}

.heroTitle,
.heroDescription {
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.heroTitle {
  margin: 0;
  font-size: 1.8rem;
}

.heroDescription {
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0.008rem;
  line-height: 1.6;
  text-align: center;
}

@media (min-width: 568px) {
  .hero {
    padding: 0 2rem;
    height: 400px;
  }

  .heroInfo {
    margin-top: 2rem;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroDescription {
    padding: 0 4rem;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 450px;
  }

  .heroInfo {
    margin-top: 5rem;
  }

  .heroTitle {
    font-size: 2.8rem;
  }

  .heroDescription {
    padding: 0 6rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1180px) {
  .hero {
    padding: 0 20%;
  }

  .heroDescription {
    padding: 0 8rem;
  }
}

@media (min-width: 1600px) {
  .hero {
    height: 600px;
    padding: 0 25%;
  }

  .heroTitle {
    font-size: 3.2rem;
  }

  .heroDescription {
    padding: 0 12rem;
    font-size: 1.4rem;
  }
}
