@import "./vendors/prism-okaidia.css";
@import "./styles/base.css";
@import "./styles/typography.css";
@import "./styles/tables.css";
@import "./styles/buttons.css";
@import "./styles/utils.css";
@import "./styles/mdHighlight.css";

:root {
  --font: "Encode Sans", sans-serif;
  --blue: #1755b2;
  --blue-light: #2196f3;
  --orange: #ff9800;
  --white: #f9fafc;
  --black: #02060c;
  --black-lighter: #1f232b;
  --animation: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.headerScrolled {
  padding: 0.5rem 1rem;
  background-color: var(--black);
}

.task-list-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0.5rem -40px;
  list-style-type: none;
}

.task-list-item input {
  margin-right: 0.5rem;
}

img {
  max-width: 100%;
  max-height: 480px;
  object-fit: cover;
}

@media (min-width: 568px) {
  .headerScrolled {
    padding: 0.8rem 5%;
  }
}

@media (min-width: 1600px) {
  .headerScrolled {
    padding: 0.8rem 15%;
  }
}
