:root {
  --font: "Encode Sans", sans-serif;
  --blue: #1755b2;
  --blue-light: #2196f3;
  --orange: #ff9800;
  --white: #f9fafc;
  --black: #02060c;
  --black-lighter: #1f232b;
  --animation: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 16px;
}

body.in-transition {
  transition: transform 800ms ease-in;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  display: inline-block;
  margin: 0 auto 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--blue);
  color: var(--blue);
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

@media (max-width: 568px) {
  .heading {
    font-size: 2.5rem;
  }
}

/* Primary button */
.btnPrimary {
  display: inline-block;
  color: var(--blue);
  padding: 0.6rem 2rem;
  border: 2px solid var(--blue);
  transition: color 0.37s ease-in, background-color 0.37s var(--animation);
}

.btnPrimary:hover {
  color: #fff;
  background-color: var(--blue);
}

.btnLarge {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
}
/* Primary button */
