:root {
  --font: "Encode Sans", sans-serif;
  --blue: #1755b2;
  --blue-light: #2196f3;
  --orange: #ff9800;
  --animation: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 16px;
}

a {
  transition: 0.37s color var(--animation);
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--blue-light);
  text-decoration: underline;
}

a:visited {
  color: var(--orange);
}
